<!DOCTYPE html>
<html lang="en" ng-app="NewTab">
<head>
	<meta charset="utf-8">
	<base href="/">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- inject:css -->
	<!-- endinject -->

	<!-- inject:js -->
	<!-- endinject -->
</head>
<body ng-controller="DashboardController as vm">
	<header>
		<div layout="column">
			<div class="search-bar" flex>
				<span>
					<input type="text" placeholder="Google..."/>
					<i class="material-icons">search</i>
				</span>
			</div>
		</div>
	</header>
	<div class="main-body">
		<div class="welcome-bar">
			Hello Tim!
		</div>
		<div layout="row" layout-margin layout-align="space-around start">
			<div flex>
				<nt-panel header="'Most Visited'">
					<div layout="row" layout-margin layout-align="space-around center">
						<most-visited-link
								ng-repeat="site in vm.topSites | limitTo: 5"
								flex
								class="site-thumbnail"
								site="site"></most-visited-link>
					</div>
					<div layout="row" layout-margin layout-align="space-around center">
						<most-visited-link
								ng-repeat="site in vm.topSites | limitTo: 5:5"
								flex
								class="site-thumbnail"
								site="site"></most-visited-link>
					</div>
				</nt-panel>
			</div>
			<div flex>
				<nt-panel header="'Downloads'">
					<div ng-repeat="dl in vm.downloads | limitTo: 10">
						{{dl.filename}}
					</div>
				</nt-panel>
			</div>
		</div>

		<div layout="row" layout-margin layout-align="space-around start">
			<div flex>
				<nt-panel header="'Bookmarks'">
					<bookmark-tree bookmarks="vm.bookmarks"></bookmark-tree>
				</nt-panel>
			</div>
		</div>
	</div>

</body>
</html>