<header>
	<div layout="column">
		<div class="search-bar" flex>
				<span>
					<input type="text" placeholder="Google..."/>
					<i class="material-icons">search</i>
				</span>
		</div>
	</div>
</header>
<div class="main-body">
	<div class="welcome-bar">
		Hello Tim!
	</div>
	<div layout="row" layout-margin layout-align="space-around start">
		<div flex>
			<nt-panel header="'Most Visited'" panel-blur>
				<div layout="row" layout-margin layout-align="space-around center">
					<most-visited-link
							ng-repeat="site in vm.topSites | limitTo: 5"
							flex
							class="site-thumbnail"
							site="site"></most-visited-link>
				</div>
				<div layout="row" layout-margin layout-align="space-around center">
					<most-visited-link
							ng-repeat="site in vm.topSites | limitTo: 5:5"
							flex
							class="site-thumbnail"
							site="site"></most-visited-link>
				</div>
			</nt-panel>
		</div>
		<div flex>
			<nt-panel header="'Downloads'" panel-blur>
				<div ng-repeat="dl in vm.downloads | limitTo: 10">
					{{dl.filename}}
				</div>
			</nt-panel>
		</div>
	</div>

	<div layout="row" layout-margin layout-align="space-around start">
		<div flex>
			<nt-panel header="'Bookmarks'" panel-blur>
				<bookmark-tree bookmarks="vm.bookmarks"></bookmark-tree>
			</nt-panel>
		</div>
		<div flex>
			<nt-panel header="'Storage'" panel-blur>
				<div layout="row" class="storage-pie">
					<div flex>
						<pie-chart style="display: inline-block;"
						           data="vm.data"
						           width="200"
						           height="200"
						           labels="vm.labels"></pie-chart>
					</div>
					<div flex>
						<p>
							Local: {{vm.data[0]}}
						</p>
						<p>
							Sync: {{vm.data[1]}}
						</p>
					</div>
				</div>
			</nt-panel>
		</div>
	</div>
</div>